body{
    background-image: url(.//images/images.jpg);
    background-size: cover; }

nav{
    font-size: 75px; 
    height   : 300px;
    margin-top: 200px;
    margin-bottom: 200px ;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    display: flex;
    align-items:center;  
    justify-content:baseline;
    background-color:rgba(35, 4, 119, 0.4);
    border: inset  15px black; }   
nav ul li{
    display: inline-block;  /* ردينة من بلوك الى هىلاين بلوك علشان لاينزلو تحت بعض*/
    margin:40px; 
    word-spacing: 15px;
} 

a{
color: white;
text-decoration: none;      /*بعد الخط الي تحت*/}
a:hover{
    width: 900px;
    height: 900px;
    border-radius: 600%;
    color:red;
    text-shadow: 10px -20px 12px black;
    box-shadow: 25px 20px 12px rgb(17, 1, 1);
    background-color: rgb(4, 126, 135);
    transform: scale(4);
    transition: 2s;}

    

.nn{
    background-image: url(../me-website/images/images2.jpg);
    background-color:rgba(4, 53, 73, 0.6);
    width: 900px;
    height: 900px;
    border-radius: 600%;
    background-position: 50% 100%;
    background-size: cover;}
.nn:hover{
    background-color:rgba(5, 55, 116, 0.801);
    transform: scale(1.3);
    transition: 2s;}



.tow {
    color: white;
    font-size: 120px;
    font-style:italic;
    height:1700px ;
    padding-bottom: 30px ;
    margin-bottom: 150px;
    margin-left: 40px ;
    margin-right: 40px;
    border: inset  15px black; 
    background-color:rgba(4, 53, 73, 0.6);
    text-align: center; 
    font-weight:bold;
    text-shadow: 15px 30px 15px  black;
    font-family:Arial, Helvetica, sans-serif;}


   

.three,.four,.fife,
.six,.seven{
    color: white;
    font-size: 60px;
    padding-right: 40px;
    line-height: 2.2;
    margin-bottom: 200px;
    margin-left: 50px ;
    margin-right: 50px;
    letter-spacing: 6px;
    border: inset  15px black; 
    background-color:rgba(4, 53, 73, 0.6); }
.six{
    height: 250px;
    font-weight: bold;
    text-align: center;
    word-spacing: 500px;
    letter-spacing: 10px;}
.six li{
    /* list-style-type: none;   بعد النقاط */
    display: inline-block;  /* تخليهم سطر واحد*/
    margin:10px ;
    word-spacing: 1px;}
    
.seven{
    height: 200px;
    width: 2800px;
    padding-bottom: 110px;
    margin-right: 2400px;
    font-weight: bold;
    align-items: center;
    justify-content:center;}
.seven ul li{
    list-style-type: none;   /* بعد النقاط */
    display: inline-block;  /* تخليهم سطر واحد*/
    margin:18px ;
    word-spacing: 22px; 
    letter-spacing: 12px;} 


#phon,#phon1,#mu ,#kh ,#one{
    font-size: 85px;
    font-weight:bold;
    color: black;}




